/*
 * Luna Stylesheet
 *
 * :author: AgentWhisky
 *
 */

QWidget
{
    color: white;
    background-color: #15161b;
    background-clip: border;
    border-image: none;
    border: 0px transparent black;
    outline: 0;
}

/* Push Button */
QPushButton
{
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #3f466a, stop: 0.5 #2e3043);
    border-width: 0.1ex;
    padding: 0.5ex;
    border-radius: 8px;
    outline: none;
}

QPushButton:pressed
{
    background-color: red;
}

QPushButton:hover
{
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #5d5f6f, stop: 0.5 #3b4045);
    border: 0.1ex solid #3daee9;
}

/* Combo Box */
QComboBox
{
    selection-background-color: white;
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #3b4045, stop: 0.5 #31363b);
    border-style: solid;
    border: 0.1ex solid black;
    border-radius: 8px;
    padding: 0.5ex;
    min-width: 7.5ex;
}
QComboBox:on
{
    padding-top: 0.3ex;
    padding-left: 0.4ex;
    selection-background-color: #4a4a4a;
}

QComboBox QAbstractItemView
{
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #3b4045, stop: 0.5 #31363b);
    border-radius: 0.2ex;
    border: 0.1ex solid #76797c;
    selection-background-color: #3daee9;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 1.5ex;

    border-left-width: 0ex;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 0.3ex;
    border-bottom-right-radius: 0.3ex;
}

QComboBox::down-arrow
{
    width: 0.9ex;
    height: 0.6ex;
}

QComboBox::down-arrow:on,
QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus
{
    width: 0.9ex;
    height: 0.6ex;
}
/* QLabel */
QLabel
{
    background-color: #282a2e;
    border-radius: 8px;
}

/* QLineEdit */
QLineEdit
{
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #3b4045, stop: 0.5 #31363b);
    padding: 0.5ex;
    border-style: solid;
    border: 0.1ex solid #76797c;
    border-radius: 8px;
    color: #eff0f1;
}
QLineEdit:hover
{
    border: 0.1ex solid #3daee9;
    color: #eff0f1;
}
QLineEdit:hover:pressed
{
    background-color: #31363b;
}
/* QGroupBox */
QGroupBox
{
    background-color: #2e3043;
    border: 0.1ex solid #76797c;
    border-radius: 8px;
    padding-top: 1ex;
    margin-top: 1ex;
}
QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding-left: 0.1ex;
    padding-right: 0.1ex;
    margin-top: -0.7ex;
}
QGroupBox::indicator
{
    margin-left: 0.2ex;
}

